@using Sib.Core.Dto
@model ServiceModel

@{
    var startTime = "08:00";
    var endTime = "19:00";
}

@if (Model?.Start != null)
{
    startTime = Model.Start;
    endTime = Model.End;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Location" class="col-md-2 control-label">Local</label>
    <div class="col-md-10">
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Date" class="col-md-2 control-label">Data</label>
    <div class="col-md-10">

        <div id="datepicker"></div>
        <input type="hidden" asp-for="Date" id="date_hidden">

        @*<div class="input-group date" data-provide="datepicker">
                <input asp-for="Date" class="form-control"/>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>*@
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Start" class="col-md-2 control-label">Saída</label>
    <div class="col-md-10">

        <div class="input-group bfh-timepicker" id="startTimePicker" data-time="@startTime">
            
        </div>
        <input id="startTime" asp-for="Start" class="hidden" type="text" value="@startTime" />
        <span asp-validation-for="Start" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="End" class="col-md-2 control-label">Chegada</label>
    <div class="col-md-10">
        <div class="input-group bfh-timepicker" id="endTimePicker" data-time="@endTime">
            
        </div>
        <input id="endTime" asp-for="End" class="hidden" type="text" value="@endTime" />
        <span asp-validation-for="End" class="text-danger"></span>
    </div>
</div>

<input asp-for="Id" class="hidden" />
