@model Sib.Core.Dto.ServiceModel
@{
    ViewData["Title"] = "Criar novo serviço";
}

<h2>Criar novo serviço</h2>

<form asp-action="Create" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <h4>Indique os detalhes do novo serviço</h4>
        <hr />
        
        @await Html.PartialAsync("_ServiceModelForm").ConfigureAwait(false)
        
        <div>
            <button type="submit" class="btn btn-success">Criar</button>
            <a asp-action="Index" class="btn btn-default">Cancelar</a>
        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial").ConfigureAwait(false);}

    <script>
        $('#datepicker').datepicker({ language: 'pt' });
        $('#datepicker').on("changeDate", function () {
            $('#date_hidden').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
        });
    </script>
}
