@{
    ViewData["Title"] = "Ajuda";
}
<h2>@ViewData["Title"].</h2>

<p>ajuda.</p>

<address>
    <strong>Apoio:</strong> <a href="mailto:comunicacao@bfbvm.pt">comunicacao@bfbvm.pt</a><br />
    <strong>Geral:</strong> <a href="mailto:geral@bfbvm.pt">geral@bfbvm.pt</a>
</address>
